
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Suman Agencies</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo1.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v4.10.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <img src="{% static 'assets/img/clients/logo1.png' %}" width="200px" height="100px">
           <!-- <h1 class="text-light"><a href="index.html"><span>Suman Agency</span></a></h1>  -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'index' %}">About</a></li>
            <li><a class="nav-link scrollto" href="{% url 'index' %}">units</a></li>
            <li><a class="nav-link scrollto " href="{% url 'index' %}">Team</a></li>
            <li><a class="nav-link scrollto" href="{% url 'index' %}">Infrastructure</a></li>
<!--            <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--              <ul>-->
<!--                <li><a href="#">Drop Down 1</a></li>-->
<!--                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                    <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                    <li><a href="#">Deep Drop Down 3</a></li>-->
<!--&lt;!&ndash;                    <li><a href="#">Deep Drop Down 4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="#">Deep Drop Down 5</a></li>&ndash;&gt;-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li><a href="#">Drop Down 2</a></li>-->
<!--                <li><a href="#">Drop Down 3</a></li>-->
<!--                <li><a href="#">Drop Down 4</a></li>-->
<!--              </ul>-->
<!--            </li>-->
            <li><a class="nav-link scrollto" href="{% url 'contactus' %}">Contact us</a></li>
<!--            <li><a class="getstarted scrollto" href="#about">Get Started</a></li>-->
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container" style="padding-top: 30px" >

        <div class="d-flex justify-content-between align-items-center">
<!--          <h2>Inner Page</h2>-->
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>contact us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact us</h2>
              <h3> if you have any query? please contact us</h3>
<!--              <h3> feel free to contact us</h3>-->
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15229.204869174013!2d78.5543858!3d17.3973263!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb993d39950c0b%3A0x4d366ef3b1773f83!2sSuman%20Agencies%20HYD%20Private%20Limited!5e0!3m2!1sen!2sin!4v1678108879037!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>2-24, GROUND FLOOR, AND FIRST FLOOR, BLOCK-B <br>
              IDA UPPAL, UPPAL MANDAL, MEDCHAL-MALKAJGIRI(Dist.)<br>
              TELANGANA,INDIA</p>
            </div>

            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>sumanagencieshydpvtltd@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 7207533685</p>
                </div>
              </div>
            </div>

            <form action="{% url 'contactus' %}"  method="POST"  role="form" class="">
               {% csrf_token %}
              <div class="row" style="padding-top:20px">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-gr mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-gro mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
<!--              <div class="my-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
              <div class="btn"><button type="submit" class="btn btn-primary">Send Message</button></div>
              {% if message %}
                <tr>
                   <th>
                         <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                   </th>
                </tr>
              {% endif %}
            </form>
      </div>
        </div>
      </div>

    </section>
      </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h2>Suman Agencies</h2>
            <p>
              2-24, GROUND FLOOR, AND FIRST FLOOR, BLOCK-B <br>
              IDA UPPAL, UPPAL MANDAL, MEDCHAL-MALKAJGIRI(Dist.)<br>
              TELANGANA,INDIA <br><br>
              <strong>Phone:</strong> +91 7207533685 | 8019656558<br>
              <strong>Email:</strong> sumanagencieshydpvtltd@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h2>Useful Links</h2>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index'%}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index'%}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index'%}">Units</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index'%}">Infrastructure</a></li>

<!--               <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>&ndash;&gt;-->
            </ul>
          </div>

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 footer-newsletter">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Suman</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
<!--          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        </div>
      </div>
<!--      <div class="social-links text-center text-md-right pt-3 pt-md-0">-->
<!--        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--      </div>-->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
